<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
    <button class="btn btn-info" ng-click="vm.userService.logout()">Log Out</button>
</div>

<section class="shelf">
<div class="container" ng-controller="ShelfController as sc">
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>User</th>
            <th>Remove From Shelf</th>
          </tr>
        </thead>
        <tbody ng-repeat="item in sc.shelfObject.list">
          <tr>
            <td>{{item.itemName}}</td>
            <td>{{item.itemDescription}}</td>
            <td><img ng-src="{{item.itemUrl}}" width="180px"></td>
            <td>{{item.userName}}</td>
            <td><button ng-click="sc.deleteItem(item._id)" class="btn btn-info"
              ng-show="item.userName == sc.name.userName || sc.name.admin == true ">Take off Shelf!</button></td>
          </tr>
        </tbody>
      </table>
</div>
</section>